@model asp.net实训_.RouteConfig

@{
    ViewBag.Title = "repairAdmin";
    Layout = "~/Views/Shared/mubanAdmin.cshtml";
}


    @RenderPage("../Shared/foot.cshtml")
    </footer>
saddsasad

sadadsads
</div>

    </div>

@RenderPage("../Shared/js.cshtml");
<script type="text/javascript">
    $(document).ready(function () {

        $("#change1").text("维修信息管理");
        $("#repair").addClass("active");
    });
</script>
