@model asp.net实训_.RouteConfig

@{
    ViewBag.Title = "repairUser";
    Layout = "~/Views/Shared/mubanUser.cshtml";
}
@RenderPage("../Shared/foot.cshtml")
    </footer>
    </div>

    </div>
@RenderPage("../Shared/js.cshtml")
<script type="text/javascript">
    $(document).ready(function () {

        $("#change1").text("业主维修信息");
        $("#repair").addClass("active");
    });
</script>
