
<footer class="footer">
    <div class="container-fluid">
        @*style="position:absolute;bottom:20px;left:40%; z-index:200;"*@
        
        <p class="copyright ">
            &copy;
            <script>
                            document.write(new Date().getFullYear())
            </script>
            <a href="http://jwgln.zsc.edu.cn/jsxsd/">电子科技大学中山学院,计算机学院asp.net实训</a>
        </p>
    </div>
