
<footer class="footer">
    <div class="container-fluid">
        @*style="position:absolute;bottom:20px;left:40%; z-index:200;"*@
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        谭家辉
                    </a>
                </li>
                <li>
                    <a href="#">
                        张跃
                    </a>
                </li>
                <li>
                    <a href="#">
                        陈怡鸿
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright ">
            &copy;
            <script>
                            document.write(new Date().getFullYear())
            </script>
            <a href="http://jwgln.zsc.edu.cn/jsxsd/">电子科技大学中山学院</a>
        </p>
    </div>
