
@{
    ViewBag.Title = "indexUser";
}

<h2>indexUser</h2>

@RenderPage("../Shared/foot.cshtml")
    </footer>
    </div>

   </div>
@RenderPage("../Shared/js.cshtml")
<script type="text/javascript">
    $(document).ready(function () {

        $("#change1").text("首页"); /*这里只要改text里面的*/
        $("#charge").addClass("active"); /*这里找到母版中你要改的选项li那加入一个id，然后超链接#改成你的控制器要去的网页的网址*/
    });
</script>