@{
    Layout = "~/Views/Shared/mubanAdmin.cshtml";
    ViewBag.Title = "repairAdmin";
}

@RenderPage("../Shared/foot.cshtml")
    </footer>
    </div>

    </div>
@RenderPage("../Shared/js.cshtml")
<script type="text/javascript">
    $(document).ready(function () {

        $("#change1").text("业主投诉信息管理");
        $(".active").removeClass("active");
        $("#Compalin").addClass("active");
    });
</script>
