@{
    Layout = "~/Views/Shared/mubanAdmin.cshtml";
    ViewBag.Title = "repairAdmin";
}

         </footer>
        </div>

    </div>
<script src="/assets/js/amaze.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#change1").text("维修信息管理");
        $(".active").removeClass("active");
        $("#repair").addClass("active");
    });
</script>
