
@{
    ViewBag.Title = "repairUser";
}



         </footer>
        </div>

    </div>
<script src="/assets/js/amaze.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#change1").text("业主维修信息");
        $(".active").removeClass("active");
        $("#repair").addClass("active");
    });
</script>